 /*fluid 5 columns*/
/*.grid-sizer,
.grid-item { 
	width: 25%; 
}
*/

.affix:nth-child(1) {
	top:0px;
	padding-top:0px;	
	background-color: #000000;
	width:85%;
	z-index: 10;
}
/*.affix:nth-child(1) > div > div:last*/
.affix:nth-child(1) > div > div:last-child {
	display: none;	
}

/*display none/hidden*/

.affix:nth-child(2) {
	top:56px;
	padding-top: 0px;
	width:87%;
	background-color: #000000;
	z-index: 10;
}


.gutter-sizer {
	width: 4%;
}

.grid-item {
	margin-bottom: 2%;
	/*float: left;*/
	/*position: relative;*/
}

.grid {
	position: relative;
}

h1,label {
	color: #ffffff;
}

input,button {
	margin:1px;
}

form {
	margin-top:15px;
}

p {
	color: #ffffff;
}


/* 2 columns wide */
/*use media queries to change the padding for the .affix 2 child element*/

/*https://stackoverflow.com/questions/6414384/how-do-i-use-css-to-position-a-fixed-variable-height-header-and-a-scrollable-con*/
/*use above solution to set margin between form*/

/*offset bottom on first element